body {
  font-family: 'Courier New';
}

/* Search Bar */

.search-bar {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#search {
  height: 35px;
  width: 300px;
  border-radius: 5px;
  margin: auto;
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
  font-family: 'Courier New';
}

/* Images */

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
  margin: 20px auto;
}

.cell span {
  display: none;
}

.lightbox .lb-image {
  border: none;
}


@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 4);
  }
}
